$whitegray : hsl(0, 0%, 95%);
$whitegrayish : hsl(0, 0%, 90%);
$gray : hsl(0, 0%, 20%);
$grayish : hsl(0, 0%, 15%);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: $grayish;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100vw;
        padding: 20px 0;
        background-color: $gray;
        
        a {
            
            #header-img {
                height: 50px;
            }
        }

        nav {
            color: white;
            display: flex;
            align-items: center;

            ul {  
                
                li {               
                    display: inline-block;
                    padding: 0 15px;
                    list-style-type: none;
                    position: relative;

                    ::after {
                        content: '';
                        width: 0%;
                        border-radius: 5px;
                        height: 3px;
                        background: white;
                        display: block;
                        margin: auto;
                        transition: 0.5s;
                    }

                    :hover::after {
                        width: 100%;
                    }

                    a {
                        color: white;
                        font-weight: 600;
                        text-decoration: none
                    }
                }
            }
        }
    }

    main {
        
        #about-us {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 100px;
            padding: 50px 0;
            transition: 1s;

            img {
                height: 350px;
                border-radius: 20px;
            }
        }

        #embed {
            display: flex;
            justify-content: center;
            
            #video {
                width: 1000px;
                height: 500px;
            }
        }
        

        #card-list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5%;
            transition: 1s;

            .card {
                width: 350px;
                height: 500px;
                margin: 50px 50px;
                background-color: $whitegray;
                border-radius: 20px;
                box-shadow: 0 0 25px $whitegrayish;
                
                img {
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                h2 {
                    padding: 0 5%;
                }

                p {
                    padding: 0 5%;
                }
            }
        }

        #cta {
            text-align: center;

            form {
                display: inline-flex;
                flex-direction: column;
                align-items: center;

                input {
                    width: 450px;
                    height: 50px; 
                }

                #email {
                    border-radius: 10px;
                    border-color: $gray;
                    background-color: $whitegray;     
                    padding: 0 20px;
                    font-family: "Open Sans", sans-serif;
                }

                #submit {
                    width: 150px;
                    height: 40px;
                    margin-top: 20px;
                    border-radius: 10px;
                    border-color: transparent;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    transition: 0.5s;
                }
                
                #submit:hover {
                    background-color: $grayish;
                    color: $whitegray;
                }
            }
        }
    }

    footer {
        background-color: $gray;
        color: white;
        margin-top: 100px;
        text-align: center;
        padding: 25px;
        
        h4 {
            padding: 5px;
            margin: 0;
            font-weight: 600;
        }
        
        p {
            margin: 0;
            font-weight: 100;
        }

        .icons {
            cursor: pointer;
            padding: 10px;

            a {
                text-decoration: none;
                color: white;
                i {
                    padding: 5px;
                }
            }

        }   
        
    }
}

@media only screen and (max-width: 1000px) {
    body {
        
        main {
            
            #about-us {
                flex-direction: column;
                img {
                    width: 100vw;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    body {
        
        main {

            header {

                a {
            
                    #header-img {
                        height: 20px;
                    }
                }
            }
            
            #about-us {
                flex-direction: column;
                img {
                    width: 100vw;
                    height: auto;
                }
                
                #text {
                    padding: 20px 20px;
                }
            }

            #video {
                iframe {
                    width: 100vw;
                }
            }

            #card-list {
                flex-direction: column;
            }

            #cta {

                #email {
                    width: 400px;
                }

                #submit {
                    height: 150px;
                }
            }
        }
    }
}